html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #202020;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 40px;
  line-height: 45px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Extrabold", sans-serif;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Semibold", sans-serif;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-heart:before {
  content: "\f004";
}

.icon-user:before {
  content: "\f007";
}

.icon-close:before {
  content: "\f00d";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-heart-o:before {
  content: "\f08a";
}

.header {
  background-color: white;
  width: 100%;
}
.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #edebe9;
  display: flex;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}
.header__top-inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
}
.header__top-inner.sticky {
  height: 45px;
}
.header__box--left, .header__box--right {
  display: flex;
  align-items: center;
}
.header__box--left {
  padding-right: 400px;
}
.header__logo {
  font-size: 24px;
}
.header__logo span {
  margin-right: 5px;
  font-family: "Gilroy-Extrabold", sans-serif;
  font-weight: 800;
}
.header__menu {
  margin-left: 40px;
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  margin-left: 48px;
  position: relative;
}
.header__menu ul li::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 0;
  bottom: -33px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s;
}
.header__menu ul li:hover::before {
  height: 3px;
}
.header__menu ul li a {
  font-size: 14px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 600;
}
.header__menu__link::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 0;
  bottom: -33px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s;
}
.header__menu__link:hover::before {
  height: 3px;
}
.header__text a {
  font-size: 14px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 600;
}
.header__text a.delivery {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
}
.header__text .header__phone {
  margin-right: 48px;
  transition: all 0.3s;
}
.header__text .header__phone:hover {
  color: #777;
}
.header__text .menu-item {
  transform: scale(1);
  transition: all 0.5s;
}
.header__text .menu-item.hide-item {
  transform: scale(0);
}
.header__text:nth-child(2) .menu-item.hide-item {
  transition-delay: 0.6s;
}
.header__text:nth-child(3) .menu-item.hide-item {
  transition-delay: 0.5s;
}
.header__text:nth-child(2) .menu-item.hide-item {
  transition-delay: 0.1s;
}
.header__text:nth-child(3) .menu-item.hide-item {
  transition-delay: 0.2s;
}
.header__btn {
  display: flex;
}
.header__btn-menu {
  margin-left: 30px;
}
.header__search-form {
  position: absolute;
  top: 23px;
  left: 60%;
  transform: translateX(0%);
  width: 600px;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.header__search-form.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}
.header__search-form input {
  width: 100%;
  height: 44px;
  background-color: transparent;
  color: #202020;
  border: 1px solid #202020;
  outline: none;
  font-size: 16px;
}
.header__search-form::before {
  content: "\f002";
  font-family: "icomoon";
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: #202020;
}

.close {
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  color: #202020;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.close::before {
  content: "\f00d";
  font-family: "icomoon";
  font-size: 16px;
}
.close.active {
  opacity: 1;
  visibility: visible;
}